#secaoExpDeTrab {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f8fc;
}

.secao-modo-claro {
  background-color: #f6f8fc;
}

#container-texto h2 {
  position: relative;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 35px;
}
